html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8566f;
}
  canvas {
    display: block;
  }
  
  button {
    border: none;
    border-radius: 5px;
    color: white;
    background: #F2AFB9;

    position: absolute;
    top: 380px;

  }
  
  button:hover {
    background: #FC8D9E;
  }
